html, body {
  height: 100%;
  font-family: 'Roboto', serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(12,183,218,1) 100%);
}


.navbar-brand {
  display: block;
  text-align: center;
  color: #FFF;
  margin: 0px 0px 20px 0px;
  padding-bottom: 15px;
}

.navbar-brand:focus, .navbar-brand:hover, .navbar-brand:active {
  color: #FFF;
}

.meme-gen-modal{
    width: 1200px;
}

.modal-body {
  width: 200px;
  border-radius: 0px;
  border: 1px none #000000;
  background-color: rgba( 246, 245, 243, 1.00 );
}

.modal-header {
  background-color: rgba( 246, 245, 243, 1.00 );
}

.meme-form {
  margin-top: 15%;
  width: 300px;
  border-left: 1px solid #e9ecef;
}


.image-holder {
  transition: transform .2s;
  width: 350px;
  height: 230px;
  margin: 11.5px 29px;
  position: relative;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
}

.image-holder:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}


.sidebar h1{
    margin-top: 50px;
}

.sidebar h3 {
  color: white;
  text-align: center;
  margin-top: 5%;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
